<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Home</title>
        {{!-- Custom Links --}}
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../custom_css/style.css">
        <link rel="stylesheet" href="../custom_css/userstyle.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            />
        <script src="https://unpkg.com/@mongodb-js/charts-embed-dom"></script>
        <link rel="shortcut icon" href="../../public//images/Logo.png"
            type="image/x-icon">

    </head>

    <body>
        {{>userheader}}

        <div class="container-fluid pt-5" style="height:100vh">
            <div class="row col-md-12 pb-2">
                <div class="title text-capitalize text-center" id="welcome">
                    <h1>Welcome
                        {{name}}
                    </h1>
                </div>
                <div class="main-div">
                    <div class="inner-div">
                        <h3 class="question">Question Comes Here :</h3><br>
                        <ul>
                            <li>
                                <input type="radio" name="answer" id="ans1"
                                    class="answer">
                                <label id="option1" for="ans1">Answer Options</label>
                            </li>
                            <li>
                                <input type="radio" name="answer" id="ans2"
                                    class="answer">
                                <label id="option2" for="ans2">Answer Options</label>
                            </li>
                            <li>
                                <input type="radio" name="answer" id="ans3"
                                    class="answer">
                                <label id="option3" for="ans3">Answer Options</label>
                            </li>
                            <li>
                                <input type="radio" name="answer" id="ans4"
                                    class="answer">
                                <label id="option4" for="ans4">Answer Options</label>
                            </li>
                        </ul>

                        <button type="submit" class="btn-primary btn"
                            id="submit" onclick="verify()"> SUBMIT </button>
                        <div id="showscore" class="scorearea"></div>
                    </div>

                    <div class="col-md-10 container mt-5" style="height: 50vh;">
                        <div class="row">
                            <form action="/htmlquiz" method="POST">
                                <input type="text" class="form-control"
                                    name="cvalue" id="cvalue"
                                    required="required" hidden>
                                <button type="submit" class="btn btn-primary
                                    btn-lg">Save Result</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {{>footer}}
        <script src="../js/javascript.js" type="text/javascript"></script>
        <script src="../jq/jquery.js" type="text/javascript"></script>
        <script src="../js/bootstrap.js" type="text/javascript"></script>
    </body>

</html>